/* line 17, ../../scss/utilities/variables.sass */
.element::after {
  display: block;
  content: "";
  clear: both; }

@media (min-width: 768px) {
  /* line 9, ../../scss/layouts/responsive.sass */
  .col-sm-1 {
    width: 8.33333%;
    float: left; }

  /* line 12, ../../scss/layouts/responsive.sass */
  .col-sm-2 {
    width: 16.66667%;
    float: left; }

  /* line 15, ../../scss/layouts/responsive.sass */
  .col-sm-3 {
    width: 25%;
    float: left; }

  /* line 18, ../../scss/layouts/responsive.sass */
  .col-sm-4 {
    width: 33.33333%;
    float: left; }

  /* line 21, ../../scss/layouts/responsive.sass */
  .col-sm-5 {
    width: 41.66667%;
    float: left; }

  /* line 24, ../../scss/layouts/responsive.sass */
  .col-sm-6 {
    width: 50%;
    float: left; }

  /* line 27, ../../scss/layouts/responsive.sass */
  .col-sm-7 {
    width: 58.33333%;
    float: left; }

  /* line 30, ../../scss/layouts/responsive.sass */
  .col-sm-8 {
    width: 66.66667%;
    float: left; }

  /* line 33, ../../scss/layouts/responsive.sass */
  .col-sm-9 {
    width: 83.33333%;
    float: left; }

  /* line 36, ../../scss/layouts/responsive.sass */
  .col-sm-10 {
    width: 83.33333%;
    float: left; }

  /* line 39, ../../scss/layouts/responsive.sass */
  .col-sm-11 {
    width: 91.66667%;
    float: left; }

  /* line 42, ../../scss/layouts/responsive.sass */
  .col-sm-12 {
    width: 100%; } }
@media (min-width: 992px) {
  /* line 46, ../../scss/layouts/responsive.sass */
  .col-md-1 {
    width: 8.33333%;
    float: left; }

  /* line 49, ../../scss/layouts/responsive.sass */
  .col-md-2 {
    width: 16.66667%;
    float: left; }

  /* line 52, ../../scss/layouts/responsive.sass */
  .col-md-3 {
    width: 25%;
    float: left; }

  /* line 55, ../../scss/layouts/responsive.sass */
  .col-md-4 {
    width: 33.33333%;
    float: left; }

  /* line 58, ../../scss/layouts/responsive.sass */
  .col-md-5 {
    width: 41.66667%;
    float: left; }

  /* line 61, ../../scss/layouts/responsive.sass */
  .col-md-6 {
    width: 50%;
    float: left; }

  /* line 64, ../../scss/layouts/responsive.sass */
  .col-md-7 {
    width: 58.33333%;
    float: left; }

  /* line 67, ../../scss/layouts/responsive.sass */
  .col-md-8 {
    width: 66.66667%;
    float: left; }

  /* line 70, ../../scss/layouts/responsive.sass */
  .col-md-9 {
    width: 75%;
    float: left; }

  /* line 73, ../../scss/layouts/responsive.sass */
  .col-md-10 {
    width: 83.33333%;
    float: left; }

  /* line 76, ../../scss/layouts/responsive.sass */
  .col-md-11 {
    width: 91.66667%;
    float: left; }

  /* line 79, ../../scss/layouts/responsive.sass */
  .col-md-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  /* line 83, ../../scss/layouts/responsive.sass */
  .col-lg-1 {
    width: 8.33333%;
    float: left; }

  /* line 86, ../../scss/layouts/responsive.sass */
  .col-lg-2 {
    width: 16.66667%;
    float: left; }

  /* line 89, ../../scss/layouts/responsive.sass */
  .col-lg-3 {
    width: 25%;
    float: left; }

  /* line 92, ../../scss/layouts/responsive.sass */
  .col-lg-4 {
    width: 33.33333%;
    float: left; }

  /* line 95, ../../scss/layouts/responsive.sass */
  .col-lg-5 {
    width: 41.66667%;
    float: left; }

  /* line 98, ../../scss/layouts/responsive.sass */
  .col-lg-6 {
    width: 50%;
    float: left; }

  /* line 101, ../../scss/layouts/responsive.sass */
  .col-lg-7 {
    width: 58.33333%;
    float: left; }

  /* line 104, ../../scss/layouts/responsive.sass */
  .col-lg-8 {
    width: 66.66667%;
    float: left; }

  /* line 107, ../../scss/layouts/responsive.sass */
  .col-lg-9 {
    width: 75%;
    float: left; }

  /* line 110, ../../scss/layouts/responsive.sass */
  .col-lg-10 {
    width: 83.33333%;
    float: left; }

  /* line 113, ../../scss/layouts/responsive.sass */
  .col-lg-11 {
    width: 91.66667%;
    float: left; }

  /* line 116, ../../scss/layouts/responsive.sass */
  .col-lg-12 {
    width: 100%; } }
@media (min-width: 1800px) {
  /* line 120, ../../scss/layouts/responsive.sass */
  .col-xl-1 {
    width: 8.33333%;
    float: left; }

  /* line 123, ../../scss/layouts/responsive.sass */
  .col-xl-2 {
    width: 16.66667%;
    float: left; }

  /* line 126, ../../scss/layouts/responsive.sass */
  .col-xl-3 {
    width: 25%;
    float: left; }

  /* line 129, ../../scss/layouts/responsive.sass */
  .col-xl-4 {
    width: 33.33333%;
    float: left; }

  /* line 132, ../../scss/layouts/responsive.sass */
  .col-xl-5 {
    width: 41.66667%;
    float: left; }

  /* line 135, ../../scss/layouts/responsive.sass */
  .col-xl-6 {
    width: 50%;
    float: left; }

  /* line 138, ../../scss/layouts/responsive.sass */
  .col-xl-7 {
    width: 58.33333%;
    float: left; }

  /* line 141, ../../scss/layouts/responsive.sass */
  .col-xl-8 {
    width: 66.66667%;
    float: left; }

  /* line 144, ../../scss/layouts/responsive.sass */
  .col-xl-9 {
    width: 75%;
    float: left; }

  /* line 147, ../../scss/layouts/responsive.sass */
  .col-xl-10 {
    width: 83.33333%;
    float: left; }

  /* line 150, ../../scss/layouts/responsive.sass */
  .col-xl-11 {
    width: 91.66667%;
    float: left; }

  /* line 153, ../../scss/layouts/responsive.sass */
  .col-xl-12 {
    width: 100%; } }
@media (max-width: 767px) {
  /* line 159, ../../scss/layouts/responsive.sass */
  body {
    margin: 0 1em; }

  /* line 161, ../../scss/layouts/responsive.sass */
  .fixed #block-calibrate-account-menu ul {
    right: 1em; } }
@media (min-width: 768px) {
  /* line 164, ../../scss/layouts/responsive.sass */
  .layout-sidebar-two {
    clear: both; }

  /* line 166, ../../scss/layouts/responsive.sass */
  body {
    margin: 0 5%; }

  /* line 168, ../../scss/layouts/responsive.sass */
  .fixed #block-calibrate-account-menu ul {
    right: 5%; }

  /* line 170, ../../scss/layouts/responsive.sass */
  #block-calibrate-views-block-news-block-2,
  #block-calibrate-views-block-articles-block-2 {
    width: 50%;
    float: left;
    padding: 0 1em 0 0; } }
@media (min-width: 992px) {
  /* line 176, ../../scss/layouts/responsive.sass */
  body {
    margin: 0 10%; }

  /* line 178, ../../scss/layouts/responsive.sass */
  .fixed #block-calibrate-account-menu ul {
    right: 10%; }

  /* line 180, ../../scss/layouts/responsive.sass */
  #block-calibrate-views-block-news-block-2,
  #block-calibrate-views-block-articles-block-2 {
    width: 100%; }

  /* line 183, ../../scss/layouts/responsive.sass */
  .layout-sidebar-two {
    clear: none; } }
@media (min-width: 1200px) {
  /* line 186, ../../scss/layouts/responsive.sass */
  body {
    margin: 0 20%; }

  /* line 188, ../../scss/layouts/responsive.sass */
  .fixed #block-calibrate-account-menu ul {
    right: 20%; }

  /* line 190, ../../scss/layouts/responsive.sass */
  #block-calibrate-views-block-news-block-2,
  #block-calibrate-views-block-articles-block-2 {
    width: 50%;
    float: left; }

  /* line 195, ../../scss/layouts/responsive.sass */
  #views-exposed-form-articles-page-1 div#edit-tid-1 {
    display: block; } }
@media (min-width: 1800px) {
  /* line 199, ../../scss/layouts/responsive.sass */
  #views-exposed-form-articles-page-1 div#edit-tid-1 {
    display: inline-flex; } }
