#views-exposed-form-search-page-1, .views-exposed-form
    .form-item 
        margin-top: 0
    #edit-actions
        display: inline
        #edit-submit-search
            margin-top: 0
.form-actions.js-form-wrapper.form-wrapper
    clear: none !important