// utilities
@import "../utilities/variables"

footer 
    background-color: $well
    position: relative
    overflow: hidden
    margin-top: 1em
    padding: 2em 0 4em 0
    img
        display: block
        margin-left: auto
        margin-right: auto
    ul
        list-style-type: none
        display: block
        float: none
        position: absolute
        top: 55%
        left: 50%
        transform: translate(-50%, -50%)
        float: left
        padding: 0
        li
            display: inline
            a
                padding : 1.5em

#copyright
    float: right
    padding: 1em 0
