// utilities
@import "../utilities/variables"

#block-calibrate-views-block-content-header-image-block-1
    position: relative
    .view-content-header-image  
        .views-field-field-image 
            img
                width: 100%
        .views-field-body, .views-field-field-body
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            font-size: 3vw

.header-image.views-row 
    clear: both