// utilities
@import "../utilities/variables"

// normal style
#block-calibrate-branding    
  padding: 0.8em 1em 0.8em 0
  float: left
  .site-name
    display: none

#block-calibrate-main-menu, 
#block-calibrate-account-menu
  background-color: $well
  >ul
    padding: 0
    list-style-type: none

    >li
      display: inline-block
      a
        padding: 0.2em 0.5em
    >li:first-child
      >a        
        padding: 0.2em 0.5em 0.2em 0 

    >li:last-child
      >a        
        padding: 0.2em 0 0.2em 0.5em 
         
#block-calibrate-main-menu
  >ul
    float: left
  
#block-calibrate-account-menu
  >ul
    float: right

nav, aside
  a
    text-decoration: none
    color: $menu
  a.is-active
    color: $menu-active    

// Sticky menu     
div#myHeader   
  height: 3.375em
  background-color: $color-bg
  transition: all 2s
  img 
    height: 1.5em

.fixed 
  position: fixed
  top: 0 
  width: 100%
  z-index: 1
  height: 2.5em
  // transition: all 2s
  font-size: 74%
  background-color: $color-bg
  #block-calibrate-account-menu
    ul
      top: 0
      position: fixed