// utilities
@import "../utilities/variables"
@import "../layouts/responsive"

* 
  box-sizing: border-box

body 
  font: 100% $font-stack
  background-color: $color-bg
  margin-top: 1em
  margin-bottom: 1em

main   
  content: ""
  clear: both
  display: table
  width: 100%

#block-calibrate-views-block-news-block-2,
#block-calibrate-views-block-articles-block-2, 
#block-calibrate-page-title
  clear: both

#block-calibrate-views-block-content-header-image-block-1
  clear: both

img
  max-width: 100%
  height: auto

.views-field-field-image, #block-calibrate-views-block-content-header-image-block-1 img, #block-views-block-frontpage-block-1 img
  width: 100%
  height: auto

.layout-sidebar-two, 
.layout-content
  margin: 0

.layout-sidebar-two 
  background-color: $well
  padding: 1em

.group-right
  padding: 0 0.5em

.views-col
  padding: 0 1em 0 0