// utilities
@import "../utilities/variables"
@import "../utilities/media-queries"


@media (max-width: $m-phone)    

@media (min-width: $m-sm)
    .col-sm-1
        width: percentage(1/12)
        float: left
    .col-sm-2
        width: percentage(2/12)
        float: left
    .col-sm-3
        width: percentage(3/12)
        float: left
    .col-sm-4
        width: percentage(4/12)
        float: left
    .col-sm-5
        width: percentage(5/12)
        float: left
    .col-sm-6
        width: percentage(6/12)
        float: left
    .col-sm-7
        width: percentage(7/12)
        float: left
    .col-sm-8
        width: percentage(8/12)
        float: left
    .col-sm-9
        width: percentage(10/12)
        float: left
    .col-sm-10
        width: percentage(10/12)
        float: left
    .col-sm-11
        width: percentage(11/12)
        float: left
    .col-sm-12
        width: 100%

@media (min-width: $m-md)
    .col-md-1
        width: percentage(1/12)
        float: left
    .col-md-2
        width: percentage(2/12)
        float: left
    .col-md-3
        width: percentage(3/12)
        float: left
    .col-md-4
        width: percentage(4/12)
        float: left
    .col-md-5
        width: percentage(5/12)
        float: left
    .col-md-6
        width: percentage(6/12)
        float: left
    .col-md-7
        width: percentage(7/12)
        float: left
    .col-md-8
        width: percentage(8/12)
        float: left
    .col-md-9
        width: percentage(9/12)
        float: left
    .col-md-10
        width: percentage(10/12)
        float: left
    .col-md-11
        width: percentage(11/12)
        float: left
    .col-md-12
        width: 100%

@media (min-width: $m-lg)    
    .col-lg-1
        width: percentage(1/12)
        float: left 
    .col-lg-2
        width: percentage(2/12)
        float: left 
    .col-lg-3
        width: percentage(3/12)
        float: left 
    .col-lg-4
        width: percentage(4/12)
        float: left 
    .col-lg-5
        width: percentage(5/12)
        float: left 
    .col-lg-6
        width: percentage(6/12)
        float: left 
    .col-lg-7
        width: percentage(7/12)
        float: left 
    .col-lg-8
        width: percentage(8/12)
        float: left 
    .col-lg-9
        width: percentage(9/12)
        float: left
    .col-lg-10
        width: percentage(10/12)
        float: left
    .col-lg-11
        width: percentage(11/12)
        float: left
    .col-lg-12
        width: 100%

@media (min-width: $m-xl)
    .col-xl-1
        width: percentage(1/12)
        float: left
    .col-xl-2
        width: percentage(2/12)
        float: left
    .col-xl-3
        width: percentage(3/12)
        float: left
    .col-xl-4
        width: percentage(4/12)
        float: left
    .col-xl-5
        width: percentage(5/12)
        float: left
    .col-xl-6
        width: percentage(6/12)
        float: left
    .col-xl-7
        width: percentage(7/12)
        float: left
    .col-xl-8
        width: percentage(8/12)
        float: left
    .col-xl-9
        width: percentage(9/12)
        float: left
    .col-xl-10
        width: percentage(10/12)
        float: left
    .col-xl-11
        width: percentage(11/12)
        float: left
    .col-xl-12
        width: 100%


// Responsive styles
@media (max-width: $m-phone)    
    body
        margin: 0 1em
    .fixed #block-calibrate-account-menu ul
        right: 1em
@media (min-width: $m-sm)
    .layout-sidebar-two
        clear: both    
    body
        margin: 0 5%    
    .fixed #block-calibrate-account-menu ul
        right: 5%
    #block-calibrate-views-block-news-block-2,
    #block-calibrate-views-block-articles-block-2 
        width: percentage(6/12)
        float: left
        padding: 0 1em 0 0
@media (min-width: $m-md)   
    body
        margin: 0 10%          
    .fixed #block-calibrate-account-menu ul
        right: 10%
    #block-calibrate-views-block-news-block-2,
    #block-calibrate-views-block-articles-block-2 
        width: 100%
    .layout-sidebar-two
        clear: none
@media (min-width: $m-lg)   
    body
        margin: 0 20%          
    .fixed #block-calibrate-account-menu ul
        right: 20% 
    #block-calibrate-views-block-news-block-2,
    #block-calibrate-views-block-articles-block-2  
        width: percentage(6/12)
        float: left   
    #views-exposed-form-articles-page-1
        div#edit-tid-1 
            display: block
@media (min-width: $m-xl)
    #views-exposed-form-articles-page-1
        div#edit-tid-1 
            display: inline-flex