/* line 2, ../../scss/components/buttons.sass */
#views-exposed-form-search-page-1 .form-item, .views-exposed-form .form-item {
  margin-top: 0; }
/* line 4, ../../scss/components/buttons.sass */
#views-exposed-form-search-page-1 #edit-actions, .views-exposed-form #edit-actions {
  display: inline; }
  /* line 6, ../../scss/components/buttons.sass */
  #views-exposed-form-search-page-1 #edit-actions #edit-submit-search, .views-exposed-form #edit-actions #edit-submit-search {
    margin-top: 0; }

/* line 8, ../../scss/components/buttons.sass */
.form-actions.js-form-wrapper.form-wrapper {
  clear: none !important; }
