/* line 1, ../../scss/components/field.sass */
.field--label-inline .field__label, .field--label-inline .field__items {
  display: flex; }
  /* line 3, ../../scss/components/field.sass */
  .field--label-inline .field__label .field__item, .field--label-inline .field__items .field__item {
    padding-right: 0.5em; }
