/* line 17, ../../scss/utilities/variables.sass */
.element::after {
  display: block;
  content: "";
  clear: both; }

/* line 4, ../../scss/components/footer.sass */
footer {
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
  margin-top: 1em;
  padding: 2em 0 4em 0; }
  /* line 10, ../../scss/components/footer.sass */
  footer img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  /* line 14, ../../scss/components/footer.sass */
  footer ul {
    list-style-type: none;
    display: block;
    float: none;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    float: left;
    padding: 0; }
    /* line 24, ../../scss/components/footer.sass */
    footer ul li {
      display: inline; }
      /* line 26, ../../scss/components/footer.sass */
      footer ul li a {
        padding: 1.5em; }

/* line 29, ../../scss/components/footer.sass */
#copyright {
  float: right;
  padding: 1em 0; }
