/* line 17, ../../scss/utilities/variables.sass */
.element::after {
  display: block;
  content: "";
  clear: both; }

/* line 4, ../../scss/components/header.sass */
#block-calibrate-views-block-content-header-image-block-1 {
  position: relative; }
  /* line 8, ../../scss/components/header.sass */
  #block-calibrate-views-block-content-header-image-block-1 .view-content-header-image .views-field-field-image img {
    width: 100%; }
  /* line 10, ../../scss/components/header.sass */
  #block-calibrate-views-block-content-header-image-block-1 .view-content-header-image .views-field-body, #block-calibrate-views-block-content-header-image-block-1 .view-content-header-image .views-field-field-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw; }

/* line 17, ../../scss/components/header.sass */
.header-image.views-row {
  clear: both; }
