/* line 17, ../../scss/utilities/variables.sass */
.element::after {
  display: block;
  content: "";
  clear: both; }

/* line 5, ../../scss/components/menu.sass */
#block-calibrate-branding {
  padding: 0.8em 1em 0.8em 0;
  float: left; }
  /* line 8, ../../scss/components/menu.sass */
  #block-calibrate-branding .site-name {
    display: none; }

/* line 11, ../../scss/components/menu.sass */
#block-calibrate-main-menu,
#block-calibrate-account-menu {
  background-color: #f5f5f5; }
  /* line 14, ../../scss/components/menu.sass */
  #block-calibrate-main-menu > ul,
  #block-calibrate-account-menu > ul {
    padding: 0;
    list-style-type: none; }
    /* line 18, ../../scss/components/menu.sass */
    #block-calibrate-main-menu > ul > li,
    #block-calibrate-account-menu > ul > li {
      display: inline-block; }
      /* line 20, ../../scss/components/menu.sass */
      #block-calibrate-main-menu > ul > li a,
      #block-calibrate-account-menu > ul > li a {
        padding: 0.2em 0.5em; }
    /* line 23, ../../scss/components/menu.sass */
    #block-calibrate-main-menu > ul > li:first-child > a,
    #block-calibrate-account-menu > ul > li:first-child > a {
      padding: 0.2em 0.5em 0.2em 0; }
    /* line 27, ../../scss/components/menu.sass */
    #block-calibrate-main-menu > ul > li:last-child > a,
    #block-calibrate-account-menu > ul > li:last-child > a {
      padding: 0.2em 0 0.2em 0.5em; }

/* line 31, ../../scss/components/menu.sass */
#block-calibrate-main-menu > ul {
  float: left; }

/* line 35, ../../scss/components/menu.sass */
#block-calibrate-account-menu > ul {
  float: right; }

/* line 39, ../../scss/components/menu.sass */
nav a, aside a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8); }
/* line 42, ../../scss/components/menu.sass */
nav a.is-active, aside a.is-active {
  color: #212529; }

/* line 46, ../../scss/components/menu.sass */
div#myHeader {
  height: 3.375em;
  background-color: #fff;
  transition: all 2s; }
  /* line 50, ../../scss/components/menu.sass */
  div#myHeader img {
    height: 1.5em; }

/* line 53, ../../scss/components/menu.sass */
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 2.5em;
  font-size: 74%;
  background-color: #fff; }
  /* line 63, ../../scss/components/menu.sass */
  .fixed #block-calibrate-account-menu ul {
    top: 0;
    position: fixed; }
