/* line 3, ../../scss/components/node.sass */
section header {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }

/* line 12, ../../scss/components/node.sass */
#block-calibrate-views-block-news-block-2,
#block-calibrate-views-block-articles-block-2 {
  clear: none; }

/* line 19, ../../scss/components/node.sass */
#block-calibrate-content .group-footer header {
  padding-top: 1em;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }
