/* line 1, ../../scss/components/sidebar.sass */
div#edit-tid-1 {
  display: inline-flex; }
  /* line 3, ../../scss/components/sidebar.sass */
  div#edit-tid-1 a {
    padding-right: 0.5em; }
    /* line 5, ../../scss/components/sidebar.sass */
    div#edit-tid-1 a:empty {
      display: none; }
  /* line 7, ../../scss/components/sidebar.sass */
  div#edit-tid-1 div:last-child a {
    padding-right: 0; }
