// Media queries
$m-sm: '(min-width: 576px) and (max-width: 767px)'
$m-md : '(min-width: 768px) and (max-width: 991px)'
$m-l: '(min-width: 992px) and (max-width: 1199px)'
$m-xl: '(min-width: 1200px)'


// Style
$font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
$color-bg: #fff
$well: #f5f5f5
$menu: rgba(0,0,0,.8)
$menu-active: #212529

// Mixin
@mixin clearfix() 
  &::after 
    display: block
    content: ""
    clear: both
// how to us
.element 
  @include clearfix

