{%  set container_classes = [   
     l-wrap, 
    ]
%}


<div{{attributes}}{{attributes.addClass(container_classes)}}>
    <header role="banner">
        {% if page.header %}
            <section{{header_attributes.addClass("clearfix")}}>
                <div{{header_content_attributes}}>
                    <h2 id="{{ header_id }}" class="visually-hidden">{{ header_heading }}</h2>
                    {{ page.header }}
                </div>
            </section>
        {% endif %}
        <div class="header sticky" id="myHeader">
            {{page.primary_menu}}

            {{page.secondary_menu}}
            {% if page.navigation %}
                <section{{navigation_attributes}}>
                    <div{{navigation_content_attributes}}>
                        <h2 id="{{ navigation_id }}" class="visually-hidden">{{ navigation_heading }}</h2>
                        {{ page.navigation }}
                    </div>
                </section>
            {% endif %}
            {% if page.primary_menu %}
                <section{{navigation_attributes}}>
                    <div{{navigation_content_attributes}}>
                        <h2 id="{{ navigation_id }}" class="visually-hidden">{{ navigation_heading }}</h2>
                        {{ page.navigation }}
                    </div>
                </section>
            {% endif %}
        </div>
        <div class="content">
            {{ page.content_image }}

            {% if page.breadcrumbs %}
                <section{{breadcrumbs_attributes}}>
                    <div{{breadcrumbs_content_attributes}}>
                        <h2 id="{{ breadcrumbs_id }}" class="visually-hidden">{{ breadcrumbs_heading }}</h2>
                        {{ page.breadcrumbs }}
                    </div>
                </section>
            {% endif %}

            {% if page.pre_content %}
                <section{{pre_content_attributes}}>
                    <div{{pre_content_content_attributes}}>
                        <h2 id="{{ pre_content_id }}" class="visually-hidden">{{ pre_content_heading }}</h2>
                        {{ page.pre_content }}
                    </div>
                </section>
            {% endif %}
        </div>
    </header>
    <main class="layout-main container-fluid" id="main-content" role="main" tabindex="-1">
        <div class="layout-main__content row">
            {% if page.sidebar_first %}
                <aside class="layout-sidebar-one col-12 col-lg-3" role="complementary">
                    {{ page.sidebar_first }}
                </aside>
            {% endif %}

            <div{{main_content_attributes}} {% if (page.sidebar_first) and (page.sidebar_second) %} class="col-lg-6 col-md-4" {% elseif (page.sidebar_first) or (page.sidebar_second) %} class="col-lg-9 col-md-8" {% else %} class="col-lg-12 col-md-12" {% endif %}>
                {{ page.help }}
                <div{{main_content_content_attributes}}>
                    {{ page.content }}
                </div>
            </div>

            {% if page.sidebar_second %}
                <aside class="layout-sidebar-two col-12  col-lg-3 col-md-4 p-0" role="complementary">
                    {{ page.sidebar_second }}
                </aside>
            {% endif %}
        </div>
    </main>

    <footer role="contentinfo">
        {% if page.pre_footer %}
            <section{{pre_footer_attributes}}>
                <div{{pre_footer_content_attributes}}>
                    <h2 id="{{ pre_footer_id }}" class="visually-hidden">{{ pre_footer_heading }}</h2>
                    {{ page.pre_footer }}
                </div>
            </section>
        {% endif %}

        {% if page.footer %}
            <section{{footer_attributes}}>
                <div{{footer_content_attributes}}>
                    <img src="{{ base_path }}/{{ active_theme_path() }}/logo.svg" alt="Logo thme">
                    <h2 id="{{ footer_id }}" class="visually-hidden">{{ footer_heading }}</h2>
                    {{ page.footer }}
                </div>
            </section>
        {% endif %}
    </footer>
    <div id="copyright">
        Site: created by:
        <a href="//aldofieuw.com" target="_blank">Aldo</a>
    </div>
</div>
