/* line 17, ../../scss/utilities/variables.sass */
.element::after {
  display: block;
  content: "";
  clear: both; }

/* line 3, ../../scss/base/elements.sass */
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8); }
  /* line 6, ../../scss/base/elements.sass */
  a:hover {
    text-decoration: underline; }
